---
pagination:
  data: examples.flat
  size: 1
  alias: example
permalink: 'components/{{ example.component }}/{{ example.exampleName }}/index.html'
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ example.exampleName }} – {{ example.component }} – MOD.UK Frontend</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta content="IE=edge">
  <link href="/css/index.css" rel="stylesheet">
</head>
<body class="govuk-template__body ">
  <script>
    document.body.className += 'js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
  </script>
  <div id="root">{% include example.template %}</div>
  <script src="/client/moduk-frontend.umd.js"></script>
  <script>
    window.MODUK.initAll()
  </script>
</body>
</html>
