<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nunjucks examples – MOD.UK Frontend</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta content="IE=edge">
  <link href="/css/index.css" rel="stylesheet">
</head>
<body class="govuk-template__body">
  <h1 class="govuk-heading-l">Nunjucks examples</h1>
  <p class="govuk-body-l"><a class="govuk-link" href="/react/">go to the React examples</a></p>
  {% for component, exampleNames in examples.grouped %}
  <h2 class="govuk-heading-m">{{ component | replace("-", " ") }}</h2>
  <ul class="govuk-list govuk-list--bullet">
  {% for exampleName in exampleNames %}
    <li>
      <a class="govuk-link" href="/components/{{ component }}/{{ exampleName }}">
        {{ exampleName | replace("-", " ") }}
      </a>
    </li>
  {% endfor %}
  </ul>
  {% endfor %}
</body>
</html>
