<!DOCTYPE html>
<html lang="en">
<head>
  <title>Examples – MOD.UK Frontend</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/css/index.css" rel="stylesheet">
</head>
<body>
  {{ globalData | dump }}
  {% for component, exampleNames in examples.grouped %}
  <h2 class="govuk-heading-m">{{ component | replace("-", " ") }}</h2>
  <ul class="govuk-list govuk-list--bullet">
  {% for exampleName in exampleNames %}
    <li>
      <a class="govuk-link" href="/components/{{ component }}/{{ exampleName }}">
        {{ exampleName | replace("-", " ") }}
      </a>
    </li>
  {% endfor %}
  </ul>
  {% endfor %}
</body>
</html>
