{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% macro modukPanel(params) -%}
  {% if caller -%}
    {% call govukPanel(params) -%}
      {{ caller() }}
    {%- endcall %}
  {%- else -%}
    {{ govukPanel(params) }}
  {%- endif %}
{%- endmacro %}
