{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% macro modukInsetText(params) -%}
  {% if caller -%}
    {% call govukInsetText(params) -%}
      {{ caller() }}
    {%- endcall %}
  {%- else -%}
    {{ govukInsetText(params) }}
  {%- endif %}
{%- endmacro %}
