{% from "moduk/components/notification-banner/macro.njk" import modukNotificationBanner %}

{% set html %}
  <h3 class="govuk-notification-banner__heading">
    Training outcome recorded and trainee withdrawn
  </h3>
  <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p>
{% endset %}

{{ modukNotificationBanner({
  html: html,
  type: 'success'
}) }}
