{% from "moduk/components/notification-banner/macro.njk" import modukNotificationBanner -%}

{{ modukNotificationBanner({
  disableAutoFocus: true,
  text: 'There may be a delay in processing your application because of the coronavirus outbreak.'
}) -}}
