{% from "moduk/components/notification-banner/macro.njk" import modukNotificationBanner -%}

{{ modukNotificationBanner({
  titleText: 'Custom title',
  text: 'There may be a delay in processing your application because of the coronavirus outbreak.'
}) -}}
