{%- from "moduk/components/pagination/macro.njk" import modukPagination -%}

{{- modukPagination({
  previous: {
    labelText: "Understanding military personnel",
    href: "#"
  },
  next: {
    labelText: "Find user research participants across Defence",
    href: "#"
  }
}) -}}
