{% from "moduk/components/pagination/macro.njk" import modukPagination %}

{{ modukPagination({
  previous: {
    labelText: "1 of 3",
    href: "#"
  },
  next: {
    labelText: "3 of 3",
    href: "#"
  }
}) }}
