{% from "moduk/components/button/macro.njk" import modukButton -%}

<div class="govuk-button-group">
  {{ modukButton({
    text: "Continue"
  }) -}}

  <a class="govuk-link" href="#">Cancel</a>
</div>
