{% from "moduk/components/textarea/macro.njk" import modukTextarea -%}

{{ modukTextarea({
  name: "event-description-not-as-page-heading",
  id: "event-description-not-as-page-heading",
  label: {
    text: "What is the event about?"
  }
}) -}}
