{% from "moduk/components/character-count/macro.njk" import modukCharacterCount -%}

{{ modukCharacterCount({
  name: "with-hint",
  id: "with-hint",
  maxlength: 200,
  label: {
    text: "What is the event about?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "This will be shown on the public page for the event, below the event title"
  }
}) -}}
