{% from "moduk/components/character-count/macro.njk" import modukCharacterCount -%}

{{ modukCharacterCount({
  id: "exceeding-characters",
  name: "exceeding",
  maxlength: 200,
  value: "I would like to request my service record and have a question about what proof of address is acceptable. The guidance doesn’t say if a digital bank statement will be accepted. Can someone please confirm if",
  label: {
    text: "Can you provide more detail?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Do not include personal information like your service number."
  },
  errorMessage: {
    text: "Detail must be 200 characters or less"
  }
}) -}}
