{% from "moduk/components/skip-link/macro.njk" import modukSkipLink %}

{# Wrapped in a <div> so there is one root element, for visual regression tests to use #}

<div>

  {{ modukSkipLink({
    text: "Skip to main content",
    href: "#content"
  }) }}

  <p class="govuk-body" id="content">Press tab to view the skip link component.</p>

</div>
