{% from "moduk/components/input/macro.njk" import modukInput %}

{{ modukInput({
  label: {
    text: "What is the name of the event?"
  },
  id: "with-not-as-page-heading",
  name: "event-name"
}) }}
