{%- from "moduk/components/breadcrumbs/macro.njk" import modukBreadcrumbs -%}

{{ modukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Components",
      href: "#"
    },
    {
      text: "Breadcrumbs",
      href: "#"
    }
  ]
}) }}
