{% from "moduk/components/date-input/macro.njk" import modukDateInput -%}

{{ modukDateInput({
  id: "contract-start-date-with-whole-error",
  namePrefix: "contract-start-date-with-whole-error",
  fieldset: {
    legend: {
      text: "When will the contract start?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "For example, 27 3 2023"
  },
  errorMessage: {
    text: "The start date of the contract cannot be more than six months ago"
  },
  items: [
    {
      classes: "govuk-input--width-2 govuk-input--error",
      name: "day",
      value: "6"
    },
    {
      classes: "govuk-input--width-2 govuk-input--error",
      name: "month",
      value: "3"
    },
    {
      classes: "govuk-input--width-4 govuk-input--error",
      name: "year",
      value: "2001"
    }
  ]
}) -}}
