{% from "moduk/components/checkboxes/macro.njk" import modukCheckboxes -%}

{{ modukCheckboxes({
  name: "incident-not-as-page-heading",
  fieldset: {
    legend: {
      text: "Who did you report the incident to?"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "unit-medic",
      text: "Unit medic"
    },
    {
      value: "hospital",
      text: "Hospital"
    },
    {
      value: "chain-of-command",
      text: "Chain of command"
    },
    {
      value: "colleague",
      text: "Colleague"
    },
    {
      value: "other-person",
      text: "Other person"
    }
  ]
}) -}}
