{% from "moduk/components/checkboxes/macro.njk" import modukCheckboxes -%}

{{ modukCheckboxes({
  name: "organisation-small",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "Organisation",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "royal-navy",
      text: "Royal Navy"
    },
    {
      value: "british-army",
      text: "British Army"
    },
    {
      value: "royal-air-force",
      text: "Royal Air Force"
    },
    {
      value: "strategic-command",
      text: "Strategic Command"
    }
  ]
}) -}}
