{% from "moduk/components/checkboxes/macro.njk" import modukCheckboxes -%}

{{ modukCheckboxes({
  name: "incident-with-none-option",
  fieldset: {
    legend: {
      text: "Who did you report the incident to?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "unit-medic",
      text: "Unit medic"
    },
    {
      value: "hospital",
      text: "Hospital"
    },
    {
      value: "chain-of-command",
      text: "Chain of command"
    },
    {
      value: "colleague",
      text: "Colleague"
    },
    {
      value: "other-person",
      text: "Other person"
    },
    {
      divider: "or"
    },
    {
      value: "none",
      text: "I did not report the incident",
      behaviour: "exclusive"
    }
  ]
}) -}}
