@forward './colour-palette';
@use './colour-palette';

$moduk-assets-path: '/assets/' !default;
$moduk-images-path: '#{$moduk-assets-path}images/' !default;

$moduk-font-family: 'Helvetica Neue', 'Arial', 'sans-serif' !default;

$moduk-brand-colour: colour-palette.moduk-colour('maroon') !default;
$moduk-header-link-active: #af6098 !default;
