$moduk-assets-path: '/assets/' !default;
$moduk-images-path: '#{$moduk-assets-path}images/' !default;
$moduk-brand-colour: #532a45 !default;
$moduk-font-family: 'Hevetica Neue', 'Arial', 'sans-serif' !default;
