@forward 'colour-palette';

@forward 'variables';
@use 'variables';

@forward 'govuk-frontend/dist/govuk/all' with (
  $govuk-assets-path: variables.$moduk-assets-path,
  $govuk-images-path: variables.$moduk-images-path,
  $govuk-font-family: variables.$moduk-font-family,
  $govuk-brand-colour: variables.$moduk-brand-colour
);

@forward 'components/header';
