{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro modukDetails(params) -%}
  {% if caller -%}
    {% call govukDetails(params) -%}
      {{ caller() }}
    {%- endcall %}
  {%- else -%}
    {{ govukDetails(params) }}
  {%- endif %}
{%- endmacro %}
