{% from "moduk/components/warning-text/macro.njk" import modukWarningText -%}

{{ modukWarningText({ 
  text: "You must appeal within 1 year of getting your decision letter.",
  iconFallbackText: "Warning"
}) -}}
