{% from "moduk/components/details/macro.njk" import modukDetails -%}

{{ modukDetails({
  summaryText: "Help with organisation",
  text: "We need to know the organisation you work for so we can forward your request to the correct team."
}) -}}
