{% from "moduk/components/footer/macro.njk" import modukFooter -%}

{{ modukFooter({
  copyright: {
    text: "Copyright text"
  },
  contentLicence: {
    text: "Content licence text"
  },
  meta: {
    text: "Meta content",
    visuallyHiddenTitle: "Visually hidden title",
    items: [
      {
        href: "#1",
        text: "Item 1"
      },
      {
        href: "#2",
        text: "Item 2"
      },
      {
        href: "#3",
        text: "Item 3"
      }
    ]
  }
}) -}}
