{% from "moduk/components/table/macro.njk" import modukTable -%}

{{ modukTable({
  caption: "Users by role",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Role"
    },
    {
      text: "Application A",
      format: "numeric"
    },
    {
      text: "Application B",
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "Developer"
      },
      {
        text: "10",
        format: "numeric"
      },
      {
        text: "25",
        format: "numeric"
      }
    ],
    [
      {
        text: "User researcher"
      },
      {
        text: "25",
        format: "numeric"
      },
      {
        text: "10",
        format: "numeric"
      }
    ],
    [
      {
        text: "Delivery manager"
      },
      {
        text: "5",
        format: "numeric"
      },
      {
        text: "10",
        format: "numeric"
      }
    ]
  ]
}) -}}
