{% from "moduk/components/radios/macro.njk" import modukRadios -%}

{{ modukRadios({
  name: "with-divider-option",
  fieldset: {
    legend: {
      text: "How do you want to sign in?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "biometric",
      text: "Sign in with a security key"
    },
    {
      value: "userpass",
      text: "Sign in with a username and password"
    },
    {
      divider: "or"
    },
    {
      value: "register",
      text: "Register for a new account"
    }
  ]
}) -}}
