{% from "moduk/components/radios/macro.njk" import modukRadios %}

{{ modukRadios({
  name: "sign-in-with-hint",
  fieldset: {
    legend: {
      text: "How do you want to sign in?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "You need an account to use this service."
  },
  items: [
    {
      value: "biometric",
      text: "Sign in with a security key",
      hint: {
        text: "You’ll need a registered USB security key."
      }
    },
    {
      value: "userpass",
      text: "Sign in with a username and password",
      hint: {
        text: "You’ll need access to your two-factor authentication device."
      }
    }
  ]
}) }}
