{% from "moduk/components/phase-banner/macro.njk" import modukPhaseBanner -%}

{{ modukPhaseBanner({
  tag: {
    text: "alpha"
  },
  classes: "custom-class",
  attributes: {
    "data-testid": "phase-banner"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) -}}
