<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ example }} – {{ component }} – MOD.UK Frontend</title>
  <link href="/index.css" rel="stylesheet">
</head>
<body>
  <div id="root">
    {% include template %}
  </div>
</body>
</html>
