<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ example }} – {{ component }} – MOD.UK Frontend</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/css/index.css" rel="stylesheet">
</head>
<body>
  <div id="root">
    {% include template %}
  </div>
  <script src="/client/MODUK.umd.js"></script>
  <script>
    window.MODUK.initAll()
  </script>
</body>
</html>
