---
pagination:
  data: reactExamples.flat
  size: 1
  alias: example
permalink: 'react/components/{{ example.component }}/{{ example.exampleName }}/index.html'
---
<!DOCTYPE html>

{% react example %}
